.dice1 {
    background-image: url("dice1.png");
    background-size: 100%;
}

.dice2 {
    background-image: url("dice2.png");
    background-size: 100%;
}

.dice3 {
    background-image: url("dice3.png");
    background-size: 100%;
}

.dice4 {
    background-image: url("dice4.png");
    background-size: 100%;
}

.dice5 {
    background-image: url("dice5.png");
    background-size: 100%;
}

.dice6 {
    background-image: url("dice6.png");
    background-size: 100%;
}

#chooseDice_popup table {
    display: inline-block;
    border-collapse: separate;
    border-spacing: 1.5em;
  }

#chooseDice_popup td{
    width: 5em;
    height: 5em;
}
