.popup_background {
  position: fixed; /* Stay in place */
  z-index: 111; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.27);
}

.menu-container {
  border-radius: 15px;
  text-align: center;
  background-color: #fff;
  margin: 10% auto auto; /* 15% from the top and centered */
  padding: 4em 5em;
  border: 1px solid #888;
  width: 700px;
  height: 250px;
}

.filtercon {
  display: block;
  text-align: center;
  width: 100%;
}

.box-btn-menu {
  margin: 1.5em;
  background-color: #3c3c3c;
  display: inline-block;
}

.filterbox {
  float: right;
  width: 250px;
  margin: 3em 0;
}

#gamemode {
  margin-top: 4em;
}

#number-npc-con {
  text-align: center;
}

#number-npc-con table {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 20px;
}

#number-npc-con td {
  font-family: "raleway", Helvetica, sans-serif;
  font-size: 2em;
  width: 3em;
  height: 3em;
  border-radius: 12px;
  border: 3px solid #005ea0;
}

.waiting {
  float: right;
  text-align: right;
}

#join {
  display: block;
}

#join-name {
  text-align: left;
}

#join-name input {
  font-family: "raleway", Helvetica, sans-serif;
  font-size: 14px;
  width: 300px;
  height: 28px;
  border: 1px solid #d8d8d8;
}

.btn-join,
.btn-start {
  text-align: center;
  cursor: pointer;
  margin-left: 1em;
  padding: 5px;
  outline: none;
  font-family: "raleway", Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  background: linear-gradient(
    #ffffff 20%,
    #f6f6f6 50%,
    #eeeeee 52%,
    #f4f4f4 100%
  );
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-start {
  margin-top: 3em;
}

.btn-plmo {
  font-size: 15px;
  width: 150px;
  height: 40px;
}

#join-token {
  text-align: left;
  height: 100%;
  margin: auto 0;
}

#join-token td {
  width: 60px;
  height: 60px;
}

#join-token table {
  display: block;
}

#join-token td:hover {
  background: #9ac;
}
