<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
  <title>Unipoly</title>
  <!-- Libs -->
  <script src='jquery-3.1.1.min.js' type='text/javascript'></script>
  <script src='angular.min.js' type='text/javascript'></script>
  <meta name="description" content="Software Projekt - Ein Monopoly Spiel" />
  <meta name="author" content="Team blabla" />
  <link rel="shortcut icon" href="examplelogo.png" />
  <link rel="icon" href="examplelogo.png" />
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="gamemenu.css">
  <link rel="stylesheet" href="studentboard.css">
  <link rel="stylesheet" href="tokenstyle.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body ng-app='monopolyApp' ng-controller='Controller' class='noselect'>
  <header class="site-header">
    <img class="logo" src="examplelogo.png" />
    <div id="new-btn" href="#" class="box-btn" ng-click='resetGame()'>
      <div class="btn btn-two">
        <span>Start New Game</span>
      </div>
    </div>
    <h1 class="title">Unipoly</h1>
    <h2 class="description">Software Projekt - Ein Monopoly Spiel</h2>
  </header>
  <div id="board">

    <div id="menu" href="#" class="menu-background">
      <div class="menu-container">
        <div class="filtercon">
          <div id='join'>
            <span id='gamemode-text' href='#'>Choose a Gamemode!</span>
            <div id='gamemode' href='#'>
              <div class="box-btn-menu" ng-click='gamemode("SINGLE")'>
                <div class="btn btn-two">
                  <span>Singleplayer</span>
                </div>
              </div>
              <div class="box-btn-menu" ng-click='gamemode("MULTI")'>
                <div class="btn btn-two">
                  <span>Mulitplayer</span>
                </div>
              </div>
            </div>
            </span>
            <div id='join-waiting' class="waiting" ng-show='state.phase=="WAITING"' hidden>
              <h3>Player:</h3>
              <div id='joininglist' href="#"></div>
              <button id='join-start' class="btn-start grow" ng-click='start()' hidden>Start</button>
            </div>
            <div id='join-name' hidden>
              <h3>Add Player:</h3>
              <input ng-model='username'>
              <button class="btn-join grow" ng-click='chooseToken()'>Join</button>
            </div>
            <div id='join-token' hidden>
              <h3>Choose a token:</h3>
              <table>
                <tr>
                  <td ng-click='join("CAR")' >
                    <div class='car token-menu grow' />
                  </td>
                  <td ng-click='join("DOG")'>
                    <div class='dog token-menu grow' />
                  </td>
                  <td ng-click='join("HAT")'>
                    <div class='hat token-menu grow' />
                  </td>
                  <td ng-click='join("IRON")'>
                    <div class='iron token-menu grow' />
                  </td>
                </tr>
                <tr>
                  <td ng-click='join("SHIP")'>
                    <div class='ship token-menu grow' />
                  </td>
                  <td ng-click='join("SHOE")'>
                    <div class='shoe token-menu grow' />
                  </td>
                  <td ng-click='join("THIMBLE")'>
                    <div class='thimble token-menu grow' />
                  </td>
                  <td ng-click='join("WHEELBARROW")'>
                    <div class='wheelbarrow token-menu grow' />
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <!--
          <div class="filterbox">
            <div id="start-btn" href="#" class="box-btn" ng-click='start()' hidden>
              <div class="btn btn-two">
                <span>Start Game</span>
              </div>
            </div>
          </div>
        -->
        </div>
      </div>
    </div>

    <div id="gameboard" href="#" class="table" hidden>
      <div id="boardgrid" class="board">
        <div class="center">
          <div id="rolldice" class="dice-con zoom" ng-click='rollDice()'>
            <h2 class="label">Roll The Dices</h2>
            <img class="dice" src="twodices.png" />
          </div>
          <div id="rollingdices" class="pop-dice-box">
            <img src="tenor.gif" />
          </div>
          <div id="rolledvalue" class="dice-sol"></div>
          <h1 class="board-title">UNIPOLY</h1>
          <div id="playerlist"></div>
          <div id="drawchance" class="chance-deck zoom">
            <h2 class="label">Chance</h2>
            <div class="deck"></div>
          </div>
        </div>

        <div id='pos0' class="space corner go">
          <div class="container">
            <div class="instructions">Nimm 200$ Honorar im vorbeigehen</div>
            <div class="go-word">Los</div>
          </div>
          <div class="arrow fa fa-long-arrow-left"></div>
        </div>

        <div class="row horizontal-row bottom-row">
          <div id='pos8' class="space property">
            <div class="container">
              <div class="color-bar light-blue"></div>
              <div class="name">Thun Hauptgasse</div>
              <div class="price">Preis 120$</div>
            </div>
          </div>
          <div id='pos7' class="space jumper">
            <div class="container">
              <div class="name">Springer</div>
              <i class="drawing fa fa-jumper"></i>
              <div class="price">Preis 100$</div>
            </div>
          </div>
          <div id='pos6' class="space property">
            <div class="container">
              <div class="color-bar light-blue"></div>
              <div class="name">Neuenburg Place Pury</div>
              <div class="price">Preis 100$</div>
            </div>
          </div>
          <div id='pos5' class="space property">
            <div class="container">
              <div class="color-bar light-blue"></div>
              <div class="name long-name">Aarau Rathausplatz</div>
              <div class="price">Preis 100$</div>
            </div>
          </div>
          <div id='pos4' class="space chance">
            <div class="container">
              <div class="name">Chance</div>
              <i class="drawing fa fa-question"></i>
            </div>
          </div>
          <div id='pos3' class="space property">
            <div class="container">
              <div class="color-bar dark-purple"></div>
              <div class="name long-name">Schaffhausen Vordergasse</div>
              <div class="price">Preis 60$</div>
            </div>
          </div>
          <div id='pos2' class="space chance">
            <div class="container">
              <div class="name">Chance</div>
              <i class="drawing fa fa-question"></i>
            </div>
          </div>
          <div id='pos1' class="space property">
            <div class="container">
              <div class="color-bar dark-purple"></div>
              <div class="name">Chur Kornplatz</div>
              <div class="price">Preis 60$</div>
            </div>
          </div>
        </div>

        <div id='pos9' class="space corner jail">
          <div class="just">Nur zu</div>
          <div class="drawing">
            <div class="container">
              <div class="name">Im</div>
              <div class="window">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <i class="person fa fa-frown-o"></i>
              </div>
              <div class="name">Knast</div>
            </div>
          </div>
          <div class="visiting">Besuch</div>
        </div>

        <div class="row vertical-row left-row">
          <div id='pos17' class="space property">
            <div class="container">
              <div class="color-bar orange"></div>
              <div class="name">La Chaux de Fonds</div>
              <div class="price">Preis 200$</div>
            </div>
          </div>
          <div id='pos16' class="space jumper">
            <div class="container">
              <div class="name">Springer</div>
              <i class="drawing fa fa-jumper"></i>
              <div class="price">Preis 100$</div>
            </div>
          </div>
          <div id='pos15' class="space property">
            <div class="container">
              <div class="color-bar orange"></div>
              <div class="name long-name">Freiburg Bahnhofstrasse</div>
              <div class="price">Preis 180$</div>
            </div>
          </div>
          <div id='pos14' class="space property">
            <div class="container">
              <div class="color-bar orange"></div>
              <div class="name">Biel Nidaugasse</div>
              <div class="price">Preis 180$</div>
            </div>
          </div>
          <div id='pos13' class="space property">
            <div class="container">
              <div class="color-bar purple"></div>
              <div class="name">Lugano Via Nissa</div>
              <div class="price">Preis 160$</div>
            </div>
          </div>
          <div id='pos12' class="space property">
            <div class="container">
              <div class="color-bar purple"></div>
              <div class="name">Solothurn Hauptgasse</div>
              <div class="price">Preis 140$</div>
            </div>
          </div>
          <div id='pos11' class="space chance">
            <div class="container">
              <div class="name">Chance</div>
              <i class="drawing fa fa-question"></i>
            </div>
          </div>
          <div id='pos10' class="space property">
            <div class="container">
              <div class="color-bar purple"></div>
              <div class="name long-name">Basel Steinenvorstadt</div>
              <div class="price">Preis 140$</div>
            </div>
          </div>
        </div>

        <div id='pos18' class="space corner free-parking">
          <div class="container">
            <div class="name">Freier</div>
            <i class="drawing fa fa-car"></i>
            <div class="name">Parkplatz</div>
          </div>
        </div>

        <div class="row horizontal-row top-row">
          <div id='pos19' class="space property">
            <div class="container">
              <div class="color-bar red"></div>
              <div class="name long-name">Winthertur Bahnhofplatz</div>
              <div class="price">Preis 220$</div>
            </div>
          </div>
          <div id='pos20' class="space chance">
            <div class="container">
              <div class="name">Chance</div>
              <i class="drawing fa fa-question blue"></i>
            </div>
          </div>
          <div id='pos21' class="space property">
            <div class="container">
              <div class="color-bar red"></div>
              <div class="name">St.Gallen Marktplatz</div>
              <div class="price">Preis 220$</div>
            </div>
          </div>
          <div id='pos22' class="space property">
            <div class="container">
              <div class="color-bar red"></div>
              <div class="name">Bern Bundesplatz</div>
              <div class="price">Preis 240$</div>
            </div>
          </div>
          <div id='pos23' class="space property">
            <div class="container">
              <div class="color-bar yellow"></div>
              <div class="name">Luzern Weggisgasse</div>
              <div class="price">Preis 260$</div>
            </div>
          </div>
          <div id='pos24' class="space property">
            <div class="container">
              <div class="color-bar yellow"></div>
              <div class="name">Zürich Rennweg</div>
              <div class="price">Preis 260$</div>
            </div>
          </div>
          <div id='pos25' class="space jumper">
            <div class="container">
              <div class="name">Springer</div>
              <i class="drawing fa fa-jumper"></i>
              <div class="price">Preis 100$</div>
            </div>
          </div>
          <div id='pos26' class="space property">
            <div class="container">
              <div class="color-bar yellow"></div>
              <div class="name three-line-name">Lausanne Rue de Bourg</div>
              <div class="price">Preis 280$</div>
            </div>
          </div>
        </div>

        <div id='pos27' class="space corner go-to-jail">
          <div class="container">
            <div class="name">Geh in den</div>
            <i class="drawing fa fa-gavel"></i>
            <div class="name">Knast</div>
          </div>
        </div>

        <div class="row vertical-row right-row">
          <div id='pos28' class="space property">
            <div class="container">
              <div class="color-bar green"></div>
              <div class="name">Basel Freie Strasse</div>
              <div class="price">Preis 300$</div>
            </div>
          </div>
          <div id='pos29' class="space chance">
            <div class="container">
              <div class="name">Chance</div>
              <i class="drawing fa fa-question"></i>
            </div>
          </div>
          <div id='pos30' class="space property">
            <div class="container">
              <div class="color-bar green"></div>
              <div class="name long-name">Genf La Croix d'or</div>
              <div class="price">Preis 300$</div>
            </div>
          </div>
          <div id='pos31' class="space property">
            <div class="container">
              <div class="color-bar green"></div>
              <div class="name">Bern Spitalgasse</div>
              <div class="price">Preis 320$</div>
            </div>
          </div>
          <div id='pos32' class="space chance">
            <div class="container">
              <div class="name">Chance</div>
              <i class="drawing fa fa-question"></i>
            </div>
          </div>
          <div id='pos33' class="space property">
            <div class="container">
              <div class="color-bar dark-blue"></div>
              <div class="name">Lausanne St.Francois</div>
              <div class="price">Preis 350$</div>
            </div>
          </div>
          <div id='pos34' class="space jumper">
            <div class="container">
              <div class="name">Springer</div>
              <i class="drawing fa fa-jumper"></i>
              <div class="price">Preis 100$</div>
            </div>
          </div>
          <div id='pos35' class="space property">
            <div class="container">
              <div class="color-bar dark-blue"></div>
              <div class="name">Zürich Paradeplatz</div>
              <div class="price">Preis 400$</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="script.js"></script>
</body>

</html>