.popup-con {
    border-radius: 5px;
    text-align: left;
    background-color: #fff;
    margin: 17% auto auto; /* 15% from the top and centered */
    padding: 3em;
    border: 1px solid #888;
    max-width: 650px;
    width: -moz-fit-content;
    height: -moz-fit-content;
}

#chooseDice_popup .popup-con {
    text-align: center;
}